<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-700">

<div class="container mx-auto max-w-2xl p-4">
    <form action="/run" class="indeed-form flex flex-col" method="POST">

        <div class="m-2 flex flex-col">
            <label for="email" class="text-xs mb-1 text-gray-200">
                Email
            </label>
            <input name="email" id="email" type="text" class="rounded-sm p-1" placeholder="Indeed account email">
        </div>

        <div class="m-2 flex flex-col">
            <label for="password" class="text-xs mb-1 text-gray-200">
                Password
            </label>
            <input name="password" id="password" type="password" class="rounded-sm p-1" placeholder="Indeed account password">
        </div>


        <div class="m-2 flex flex-col">
            <label for="what" class="text-xs mb-1 text-gray-200">
                What
            </label>
            <input name="what" id="what" type="text" class="rounded-sm p-1" placeholder="Job name">
        </div>

        <div class="m-2 flex flex-col">
            <label for="where" class="text-xs mb-1 text-gray-200">
                Where
            </label>
            <input name="where" id="where" type="password" class="rounded-sm p-1" placeholder="Job location">
        </div>
        <div class="p-2"></div>
        <button type="submit" class="m-2 bg-green-600 p-4 rounded-md text-white hover:bg-green-500">Run</button>
    </form>
</div>

</body>
</html>
